doctype html
html
	head
		meta(charset="utf-8")
		title 121216-about-me
		link(rel="stylesheet", href="stylesheets/impress.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100")
	body.impress-not-supported
		#impress
			.step(data-x="-3600", data-y="-400", data-scale="1")
				p Hi
			.step(data-x="-2200", data-y="-400", data-scale="1")
				img(src="http://jigokuno.img.jugem.jp/20101222_2020332.gif")
			.step(data-x="-1200", data-y="-400", data-scale="1")
				img(src="http://media.tumblr.com/tumblr_md9gwdYlow1qa2uot.jpg")
			.step(data-x="0", data-y="0", data-scale="10")
				p Takaya Kobayashi
			.step(data-x="-1000", data-y="2500", data-scale="10")
				p About Me
			.step(data-x="-2800", data-y="4000", data-scale="5")
				ul
					li 
						a(href="http://jgs.me") http://jgs.me
					li 
						a(href="http://twitter.com/neo6120") http://twitter.com/neo6120
					li 
						a(href="http://facebook.com/takaya.kobayashi") http://facebook.com/takaya.kobayashi
					li 
						a(href="http://github.com/e-jigsaw") http://github.com/e-jigsaw
			.step(data-x="-800", data-y="2500", data-scale="1", data-rotate="-90")
				p Fukui National Technology of Tech
			.step(data-x="-200", data-y="2500", data-scale="1", data-rotate="-90")
				p Kosenconf
			.step(data-x="200", data-y="2500", data-scale="1", data-rotate="-90")
				img(src="http://farm7.staticflickr.com/6056/6320342860_c223ce131a_b.jpg")
			.step(data-x="800", data-y="2500", data-scale="1", data-rotate="-90")
				img(src="http://e-jigsaw.github.com/emkc2-promotion/images/emkc1.jpg")
				img(src="http://e-jigsaw.github.com/emkc2-promotion/images/emkc2.png")
			.step(data-x="-2200", data-y="2100", data-scale="1", data-rotate="-120")
				p DJ
				p Techno, House, Idol, Anime
			.step(data-x="-2900", data-y="2100", data-scale="1", data-rotate="-180")
				p Game
				p SC2, Civ, TF2, IIDX, DDR
			.step(data-x="-3800", data-y="2100", data-scale="1", data-rotate="-240")
				p Programming
				p HTML, Javascript, CSS
			.step(data-x="6000", data-y="1800", data-scale="10")
				p ykybot
			.step(data-x="3500", data-y="3200", data-scale="3")
				img(src="https://twimg0-a.akamaihd.net/profile_images/1615813334/327018256.gif")
			.step(data-x="3500", data-y="4600", data-scale="3")
				img(src="http://media.tumblr.com/tumblr_meh4mw9LXi1qa2uot.png")
			.step(data-x="-1000", data-y="-2500", data-scale="10")
				p Reblog Monster
			.step(data-x="-1000", data-y="-3600", data-scale="5")
				img(src="http://media.tumblr.com/tumblr_mex0apEvWE1qa2uot.png")
		script(type="text/javascript", src="javascripts/impress.js")
		script(type="text/javascript") impress().init();
